<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Every academic deserves a psychic friend.</h2>
                <hr class="light">
                <p class="text-faded">Hope is critical of power. Join the Academic Psychic Friends Network for content that moves from hope to community and from community to action.</p>
                <p class="text-faded">Sign up for the APFN newsletter for community, vulnerability and concrete actions you can take to support higher ed in a time of crisis.</p> 
                <p  class="text-faded">Scroll down to learn more about our academic tarot deck or to join our kickstarter campaign, supporting furloughed artists while putting the future in your hands.</p>                
                <a href="https://apfn.substack.com/" class="btn btn-default btn-xl">Join the newsletter</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://www.kickstarter.com/projects/academictarot/academic-tarot" class="btn btn-default btn-xl">Order on Kickstarter!</a>
            </div>
        </div>
    </div>
</section>
