<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{ site.username }}</span>
        <span class="site-description" id="title-anchor">{{ site.user_title }}</span>
      </h1>
      <div class="header-icons">
        |{% for page in site.pages %}&nbsp;<strong><a href="{{ page.permalink }}#title-anchor">{{ page.title }}</a></strong>&nbsp;|
        {% endfor %}
        
        <!--<a aria-label="Send email" href="mailto:mauriurraco@gmail.com"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="My Instagram" target="_blank" href="https://www.instagram.com/mauriciourraco7"><i class="icon fa fa-instagram" aria-hidden="true"></i></a>
        <a aria-label="My Facebook" target="_blank" href="https://www.facebook.com/mauricio.urraco"><i class="icon fa fa-facebook" aria-hidden="true"></i></a>
        <a aria-label="My LinkedIn" target="_blank" href="https://www.linkedin.com/in/murraco"><i class="icon fa fa-linkedin-square" aria-hidden="true"></i></a>
        <a aria-label="VFC Github" target="_blank" href="https://github.com/visionary-futures-collective"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
      --></div>
      <div class="header-links">
        <!-- <a class="link" href="#about" data-scroll>About Me</a> -->
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
