<!-- <div class="header-icons">
</div> -->

<nav class="navbar navbar-expand-md navbar-light">
  <div class="container">
    <a href="{{ site.baseurl }}/" class="navbar-brand">
      <div class="d-inline align-middle pl-3 text-primary">Homepage</div>
    </a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">      
         <li class="nav-item">
          <a href="{{ site.baseurl }}/data-gathering" class="nav-link">Data Gathering</a>
        </li>
        <li class="nav-item">
          <a href="{{ site.baseurl }}/mapping" class="nav-link">Mapping</a>
        </li>
         <!-- <li class="nav-item">
          <a href="{{ site.baseurl }}/timeline" class="nav-link">Star Guide</a>
        </li> -->
         <!-- <li class="nav-item">
          <a href="{{ site.baseurl }}/starstruck" class="nav-link">Star Guide</a>
        </li> -->
        <li class="nav-item">
          <a href="{{ site.baseurl }}/resources" class="nav-link">Resources</a>
        </li>
           <li class="nav-item">
          <a href="{{ site.baseurl }}/project-team" class="nav-link">Project Team</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
