.header-icons strong a{
  text-decoration: none;
  color: white;
  font-size: 1.1em;
}

.header-icons{
  text-decoration: none;
  color: white;
  font-size: 1.2em;
  display: block;
}

navbar{
  box-shadow: 1px 1px 3px #8d021f;
  opacity: 0.8;
  background: $white;
  .nav-item{
    font-size: 1.4rem;
    padding-right: 20px;
    z-index: 10;
  }
}

nav{  
  font-size: 1.25rem;
  background-color
}

@media only screen and (max-width: 400px) {
  .navbar-light .navbar-toggler{
    border: none;
  }
}

nav div.container{
  background-color: white;
}
.navbar{
  padding: 15px;
}
.nav-link {

    color: #007bff !important;
  }
  figure, ol, p, ul{
    margin: 0 0;
  }
  
.navbar-collapse{
  flex-grow: 0;
}

/*Try here for mobile - make the height unfixed*/
.navbar-toggler-icon{
  background-size: 75% 75%;
  width: 1em;
}

@media only screen and (min-width: 400px) {
  .navbar-toggler-icon {
    height: 1em;
  }
}

.navbar-toggler{
  margin-right: 1rem;
}

div#navbarNav.navbar-collapse{
  padding-left: 1rem;
}

.page-wrapper p, .user-details p, .tech p {
margin: 1em 0;
}

/*Adding image grid*/
/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 33.33%;
/*  padding: 5px;*/
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
  padding-bottom: 5px;
}
