.header-icons strong a{
  text-decoration: none;
  color: white;
  font-size: 1.1em;
}

.header-icons{
  text-decoration: none;
  color: white;
  font-size: 1.2em;
  display: block;
}

navbar{
  box-shadow: 1px 1px 3px #8d021f;
  opacity: 0.8;
  background: $white;
  .nav-item{
    font-size: 1.4rem;
    padding-right: 20px;
  }
}

nav{  
  height: 60px;
  font-size: 1.25rem;
}

nav div.container{
  background-color: white;
}
.navbar{
  padding: 0 0;
}
.nav-link {

    color: #007bff !important;
  }
  figure, ol, p, ul{
    margin: 0 0;
  }
  
.navbar-collapse{
  flex-grow: 0;
}

.navbar-toggler-icon{
  background-size: 75% 75%;
  width: 1em;
  height: 1em;
}

.navbar-toggler{
  margin-right: 1rem;
}

div#navbarNav.navbar-collapse{
  padding-left: 1rem;
}

#custom-particles{
  height: 100px !important;
}