.header-icons strong a{
  text-decoration: none;
  color: white;
  font-size: 1.1em;
}

.header-icons{
  text-decoration: none;
  color: white;
  font-size: 1.2em;
  display: block;
}

navbar{
  box-shadow: 1px 1px 3px #8d021f;
  opacity: 0.8;
  background: $white;
  .nav-item{
    font-size: 1.4rem;
    padding-right: 20px;
    z-index: 10;
  }
}

nav{  
  font-size: 1.25rem;
  background-color
}

@media only screen and (max-width: 400px) {
  .navbar-light .navbar-toggler{
    border: none;
  }
}

nav div.container{
  background-color: white;
}
.navbar{
  padding: 15px;
}
.nav-link {

    color: #007bff !important;
  }
  figure, ol, p, ul{
    margin: 0 0;
  }
  
.navbar-collapse{
  flex-grow: 0;
}

/*Try here for mobile - make the height unfixed*/
.navbar-toggler-icon{
  background-size: 75% 75%;
  width: 1em;
}

@media only screen and (min-width: 400px) {
  .navbar-toggler-icon {
    height: 1em;
  }
}

.navbar-toggler{
  margin-right: 1rem;
}

div#navbarNav.navbar-collapse{
  padding-left: 1rem;
}

.page-wrapper p, .user-details p, .tech p {
margin: 1em 0;
}

/* 
TESTING PORTFOLIO
*/


.portfolio-box {
    position: relative;
    display: block;
    max-width: 650px;
    margin: 0 auto;
    .portfolio-box-caption {
        color: white;
        opacity: 0;
        display: block;
        background: rgba( $theme-primary, .9 );
        position: absolute;
        bottom: 0;
        text-align: center;
        width: 100%;
        height: 100%;
        @include transition-all;
        .portfolio-box-caption-content {
            width: 100%;
            text-align: center;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            .project-category,
            .project-name {
                @include sans-serif-font;
                padding: 0 15px;
            }
            .project-category {
                text-transform: uppercase;
                font-weight: 600;
                font-size: 14px;
            }
            .project-name {
                font-size: 18px;
            }
        }
    }
    &:hover {
        .portfolio-box-caption {
            opacity: 1;
        }
    }
    @media (min-width: 768px) {
        .portfolio-box-caption {
            .portfolio-box-caption-content {
                .project-category {
                    font-size: 16px;
                }
                .project-name {
                    font-size: 22px;
                }
            }
        }
    }
}

.call-to-action {
    h2 {
        margin: 0 auto 20px;
    }
}