---
layout: default
---

<div id="particles-js">
  <div class="header">
          
      <h1>
        <span class="site-title">{{ page.title | escape | replace: ' - ', ': ' | replace: ' and ', ' &amp; ' }}</span>
      </h1>

  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
<section id="about">
<article class="page-wrapper">

  <div class="page-header-wrapper">
    <h1 class="page-header__big-title"><span>{{ page.title | escape | replace: ' - ', ': ' | replace: ' and ', ' &amp; ' }}</span></h1>
  </div>

  <div class="page-main-content">
    {{ content }}
  </div>

</article>
</section>